<div ng-controller="listController as lC">
   <input type="text" class="" value="{{user._id}}" ng-model="lC.userId" placeholder="">
    <h3>Lists Overview</h3>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" name="task_title" ng-model="lC.listItem.listTitle">
               <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="lC.createList('{{user._id}}')">Create</button>
               </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" ng-repeat="item in lC.list">
            <div class="well">
                <div class="text">   <!--ng cloack that shit below anddd add the listItem id upon ajax success of creation of list item-->
                    <p><i class="fa fa-list-ul" aria-hidden="true"></i>\{{item.listTitle}}<a href="/updateTask/\{{item._id}}"><i class="fa fa-pencil-square text-info" aria-hidden="true" ></i></a></p>
                </div>

            </div>
        </div>
    </div>
</div>