<div ng-controller="signInController as sC">
    <form method="post" action="/users/login" class="col s12">

        <div class="row">
            <div class="col s12 m10 offset-m1 l6 offset-l3">
                <h3 class="header teal-text text-lighten-1">Sign In</h3>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m10 offset-m1 l6 offset-l3">
                <input id="user_name" type="text" name="username" class="validate">
                <label for="user_name">Username</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col  s12 m10 offset-m1 l6 offset-l3">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1 l6 offset-l3">
                <button type="submit" class="waves-effect waves-light btn col s12">Submit</button>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1 l6 offset-l3">
                <!-- Modal Trigger -->
                <a class='' href='#demoModal' modal>Forgot Password</a>
            </div>
        </div>
    </form>


    <!-- Modal Structure -->
    <div id="demoModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <h4>Reset Password</h4>
                    <p>Please Enter the email address associated with your account</p>
                </div>
                <div class="row">
                    <div class="input-field col  s12 m10 offset-m1 l6 offset-l3">
                        <input id="email-reset" type="email" name="email_reset" class="validate" ng-model="sC.passwordResetEmail">
                        <label for="email-reset">Email</label>
                        <p class="red-text accent-3" ng-show="sC.emailResetBool">Please enter a valid email address</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 l6 offset-l3">
                        <button type="submit" class="waves-effect waves-light btn col s12 blue lighten-2" ng-click="sC.resetPassword(sC.passwordResetEmail)">Reset Password</button>
                        <br>
                        <p class="green-text" ng-show="sC.emailResetSuccess">Thank you, please check your email for a reset link</p>
                        <p class="red-text" ng-show="sC.emailNotExist">Email does not exist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</div>