<div class="container">

    <form method="post" action="/saveTodo/{{todo._id}}/{{todo.list_id}}">
        <div class="form-group">
            <label>Todo {{todo.title}}</label>
            <input type="text" class="form-control" placeholder="Name" name="todo-title" value="{{todo.title}}">
        </div>
        <button type="submit" class="btn btn-default" data-placeholder="">Submit</button>
    </form>
</div>