li.task-item {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #798efe;
}

#task-list{
    list-style-type: none;
}

.well {
    padding: 0px;
    margin-bottom: 0px;
}

.well p{
    margin: 0;
}
.well:hover {
    cursor: pointer;
}

i.fa.fa-list-ul {
    margin: 3%;
}