li.task-item {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #798efe;
}

#task-list{
    list-style-type: none;
}

.well {
    padding: 0px;
    margin-bottom: 0px;
}

.well p{
    margin: 0;
    position: relative;
}
.well:hover {
    cursor: pointer;
}

i.fa.fa-list-ul {
    margin: 3%;
}

i.fa.fa-pencil-square {
    position: absolute;
    right: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}