.header{
    color:#ee6e73;
}

button{
    height: 70px !important;
    line-height: 70px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

#mobile-logo {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.brand-logo{
    padding: 0 15px !important;
}
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}
.list-item{

}
.material-icons{
    cursor:pointer;
    padding:6px;
    border-radius: 5px;
}
.material-icons.circle{
    padding:0;
}
.material-icons.list-share {
    position: absolute;
    right: 18%;
    color: rgba(0, 0, 0, 0.45);
}

.material-icons:hover {
    background-color: rgba(238, 110, 115, 0.35);

}
@media screen and (max-width: 482px){
    .material-icons.list-share {
        right: 19%;
    }
    .list-update {
        right: 10%;
    }
}
@media screen and (min-width: 429px){
    .list-update {
        right: 9%;
    }
}

@media screen and (max-width: 429px){
    .material-icons.list-share {
        right: 24%;
    }
    .list-update {
        right: 12%;
    }
}

li.task-item {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #798efe;
}

span#back-link {
    position: relative;
    bottom: .9em;
    right: .5em;
}

#todo-header-row{
    margin-bottom: 0;
}

div#back-row {
    margin: 0;
}

div#back-row i{
    padding-left: 0;
}
div#back-row a{
    position: relative;
    right: .7em;
}

div#back-row i:hover{
    background-color: transparent;
}

i.material-icons.list-delete {
    color: #ee6e73;
}
i.material-icons {
    font-size: 2.5em;
}
.material-icons.circle{
    display: none;
}

.list-update {
    position: absolute;
    top: 20%;
}

.list-share{
    position: absolute;
    top:22%;
    right: 10%;

}



.list-delete {
    position: absolute;
    top: 20%;
    right: 1%;
}

.list-delete:hover, .list-update:hover{
    cursor: pointer;
}

.fa-trash-o{
    font-size: 2.25em;
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 1em;
    text-align: center;
    position: absolute;
    right: 20%;
    top: 47%;
    transform: translateY(-50%);
}
.list-row{
    position: relative;

}


#task-list{
    list-style-type: none;
}

.well {
    padding: 0px;
    margin-bottom: 0px;
}

.well p{
    margin: 0;
    position: relative;
}
.well:hover {
    cursor: pointer;
}

i.fa.fa-list-ul {
    margin: 3%;
}

i.fa.fa-pencil-square-o {
    font-size: 2.7em;
    position: absolute;
    right: 59%;
    top: 50.5%;
    transform: translateY(-50%);

}

#controls {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0;
}

a .list-div {
    color: black;
}

body{
    min-width: 390px;
}

/*#chat-box, #chat-head, #chat-input {*/
    /*border: 1px solid black;*/
/*}*/
#chat-box{
    box-shadow: 0px 3px 3px 0px rgba(.53,1.58,.8,.89);
    position: fixed;
    bottom: 0;
    right:0;

}

.shared-name{
    color: white !important;
    text-align: center;
    padding-top: .6em !important;
    font-size: 1.5em;
}

#chat-head{
    height: 64px;
    background-color: #ee6e73;
    border-bottom: 3px solid #d23b30;
    /*z-index: 110;*/
    box-shadow: -1px 1px 3px 1px rgba(50, 50, 50, 0.2);
}
#chat-head:hover{
    cursor: pointer;
}





div#chat-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
}


button.btn.waves-effect.waves-light.col.s12 {
    z-index: 0;
}

#chat-box .row{
    margin: 0;
}

#send-message-chat{
    background-color: #F44336;
    display: none;
}

.sendShow{
    display:block;
}



#send-message-chat {
    background-color: #F44336;
    color: white;
    border-radius: 50%;
    width: 42.66667px;
    height: 42.66667px;
    border: 0;
    padding: 5px 0 0 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    font-size: 2.3em;
}

.chatExpandMobile{

    width: 100vw !important;
    height: 100vh !important;

}

.makeBodyTaller{
    min-height: 83.5% !important;
    min-height: 83.5% !important;
}

p#message-date {
    text-align: center;
    font-size: .8em;
    display: block;
}

.chatExpandDesktop{
    height:460px !important;
    width:320px !important;
}

.zIndex{
    z-index: 10;
    display:block !important;
}

#chat-content{
    height: 0px ;
    width: 250px;

    background-color: white;
    position: relative;
    transition:.5s cubic-bezier(.35,1.58,.89,.97);
}

.hide-chat-icon{
    display:none;
}

.maxContentWidth{
    max-width:50%;
}

#chat-input {
    border-bottom: none !important;
    padding: 0px 0 0 5px;
    margin: 0;
}

#chat-input:focus{
    border-bottom:none !important;
    box-shadow: none !important;
}

span#arrow-right {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 18px solid #2196F3;
    position: absolute;
    right: -17px;
    top: 0;
}

span#arrow-left {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 0;
    border-right: 19px solid #ee6e73;
    left: -15px;
}

.chat-message{
    position:relative;
}
.chat-message-wrap {
    display: inline-block;
}


p.blue.white-text.ng-binding.ng-scope {
    margin: 0;
}

.message-container {
    padding-left: 0.5em;
}

div#chat-body {
    max-height: 76%;
    min-height: 76%;
    /*border: 3px solid red;*/
    overflow: auto;
    box-sizing: content-box;
    width: 100%;
}

.message-back-col{
    position: relative;
}

i#chat-message-back {
    position: absolute;
    top: 1.3%;
}

i#chat-vert-icon {
    position: relative;
    top: .14em;
}

#chat-body, #chat-bottom{
    border-left: 1px solid rgba(64, 51, 45, 0.35);
    border-bottom: 1px solid rgba(64, 51, 45, 0.35);
}


.message-content.content-mine {
    /*position: relative;*/
    /*float: right;*/
    /*top: 8px;*/
}



#chat-vert-icon, #chat-message-back{
    color: white;
}


.chat-message p {
    padding: .5em;
    margin: .2em 0;
    display: inline-block;
    border-radius: 5px;
}

p.blue.white-text.ng-binding {
    float: right;
}

.row .col.mine {
    margin-left: 41.6666666667%;
    padding-right: 22px;
}

.chat-message p {
    font-size: 1.2em;
}